<mat-card style="width: 80%; margin-right: auto; margin-left: auto; height: 65%;">
  <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
<!--  <ngx-extended-pdf-viewer [base64Src]="bb" useBrowserLocale="true" height="100%"-->
<!--                           [delayFirstView]="delay"-->
<!--                           (pagesLoaded)="pagesLoaded($event)"-->
<!--                           (pdfLoaded)="pdfLoaded($event)"-->
<!--  ></ngx-extended-pdf-viewer>-->
  <pdf-viewer [src]="pdf" [render-text]="true" style="display: block; height: 100%; background: #aaa"
              [page]="1" [stick-to-page]="true" [show-borders]="true" [original-size]="false"
              (on-progress)="onProgress($event)" (after-load-complete)="callBackFn($event)"
              (error)="onError($event)"></pdf-viewer>
</mat-card>
